
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-lg-4">
      <div class="card">
        <span class="text-center">
          Total Users
        </span>
        <div class="badge text-center">
          10
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <span class="text-center">Active Users</span>
        <div class="badge text-center">
            7
          </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <span class="text-center">Inactive Users</span>
        <div class="badge text-center">
          3
          </div>
      </div>
    </div>
  </div>
</div>
